#reddits-previews {
    position:relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

#reddits-previews > div > div > div {
    align-self: start;
}

.reddits-article {
    background:white;
    padding:15px;
    box-sizing:border-box;
    border: 1px solid #cfcfbb;
    box-shadow: 0 0 9px 1px #807e72;
    max-width:100%;
    margin:10px;
}

.masonry-column {
    width:33%;
    float:left;
    box-sizing: border-box;
}

.author-image{
    width:40px;
    height:40px;
    border-radius:100%;
}

.reddit-header, .reddit-footer{
    overflow:hidden;
}

.reddit-header p, .reddit-footer p {
    margin:0 0 0 20px;
    font-size:12px;
    color:rgb(75, 75, 75);
}

.reddit-footer{
    margin-top:13px;
    line-height:19px;
}

.reddit-header p:first-child, .reddit-footer p:first-child {
    margin:0;
}

.reddit-footer .reddits-comments-icon {
    position: relative;
    padding-left:25px;
}

.reddit-footer .reddits-comments-icon:before {
    content: "";
    background: url('../../media/bubble.png') no-repeat;
    background-size:15px;
    width:15px;
    height:15px;
    position: absolute;
    top:4px;
    left:0;
}

.reddit-header .community {
    font-weight:bold;
}


.reddits-body .reddits-title {
    text-align:center;
}

.reddits-body .reddits-image{
    width:100%;
    margin: 0 auto;
    display: block;
    object-fit:cover;
}

@media only screen and (min-width: 751px) {
    .reddits-article {
        border-radius:5px;
    }
}