.modal {
    width: 50%;
    height: 300px;
    margin:0 auto;
    display:table;
    position: absolute;
    left: 0;
    right:0;
    top: 50%; 
    border:1px solid;
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    transform:translateY(-50%);
    background:white;
    padding:10px;
}

.overlay{
    background: hsla(0, 0%, 0%, 0.33);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
}