.modal {
    width: 80%;
    margin:10px 10%;
    border:1px solid;
    background:white;
    padding:10px;
}

.overlay{
    background: hsla(0, 0%, 0%, 0.33);
    position: fixed;
    top: 55px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    overflow-x:hidden;
}