.reddits-previews {
    position:relative;
}

.reddit-article, .reddit-loading-article {
    background:white;
    padding:15px;
    margin:0 auto 20px;
    border: 1px solid #8a8a8a;
    border-radius:5px;
}

.reddit-loading-article {
    padding: 0 20px;
}

.reddit-loading-header, .reddit-loading-footer, .reddit-loading-image {
    height:40px;
    width:100%;
    margin:30px auto;
    background:grey;
}

.reddit-loading-image {
    height:200px;
}

.reddit-loading-article {
    opacity: 0.25;
}

.author-image{
    width:40px;
    height:40px;
    border-radius:100%;
}

.reddit-header, .reddit-footer{
    overflow:hidden;
}

.reddit-header p, .reddit-footer p {
    margin:0 0 0 20px;
    font-size:12px;
    color:rgb(75, 75, 75);
}

.reddit-footer{
    margin-top:20px;
}

.reddit-header p:first-child, .reddit-footer p:first-child {
    margin:0;
}

.community {
    font-weight:bold;
}

.reddit-image{
    max-height: 512px;
    margin: 0 auto;
    display: block;
}