#flairs {

}

ul.subreddit-list {
    background:white;
    margin: 10px;
    padding:5px;
    border: 1px solid #cfcfbb;
    border-radius:5px;
    box-shadow: 0 0 9px 1px #807e72;
}

#filter-title {
    color:black;
    display:inline-block;
    padding:0 10px;
    font-weight:bold;
}

#search-title {
    color:black;
    display:inline-block;
    padding:0 10px;
    font-weight:bold;
}

li.filter {
    background:white;
    color:#0079d3;
    text-align:center;
    list-style: none;
    padding:5px 18px;
    margin:5px;
    border:1px solid #0079d3;
    border-radius:20px;
    display:inline-block;
    cursor: pointer;
    text-transform: capitalize;
    font-size:15px;
    font-weight:bold;
}

li.filter:hover {
    background:#eff5fa;
}

li.filter.active {
    color:white;
    background: #0079d3;
}

li.filter.active:hover {
    background: #4b99d4;
}

li.filter.active:after {
    content: "X";
    font-size:6px;
    padding:2px 4px;
    margin-left:4px;
    border:1px solid white;
    border-radius:100%;
    position: relative;
    top:-3px;
    right:-7px;
}

li.filter.inactive {
    display:none;
}

li.filter.active.inactive {
    display:block;
}