.comment-header, .comment-footer{
    overflow:hidden;
}

.comment-header p, .comment-footer p {
    margin:0 0 0 20px;
    font-size:12px;
    color:rgb(75, 75, 75);
}

.comment-footer{
    margin-top:20px;
}

.comment-header p:first-child, .comment-footer p:first-child {
    margin:0;
}

.comment-header p:first-child {
    font-weight:bold;
}

.comments{
    margin-bottom:20px;
    padding:10px;
    border-radius:10px;
}

.comments:nth-child(odd) {
    background:rgb(248, 248, 248);
}

.comments:nth-child(even) {
    background:rgb(243, 247, 255);
}

.comments-list {
    border-top: 2px solid black;
    padding-top: 20px;
}