.comment-header, .comment-footer{
    overflow:hidden;
}

.comment-header p, .comment-footer p {
    margin:0 0 0 10px;
    font-size:12px;
    color:rgb(75, 75, 75);
}

.comment-header p:first-child, .comment-footer p:first-child {
    margin:0;
}

.comment-header p:first-child {
    font-weight:bold;
}

.comments{
    padding:10px;
    border-radius:10px;
    word-break: break-word;
}

.comments-list {
    border-top: 2px solid black;
    padding-top: 20px;
}

.comment-group {
    list-style:none;
    border-left:1px solid grey;
    cursor: pointer;
    margin-top: -39px;
    padding-top: 39px;
}

.comments-list > .comment-group {
    border:none;
    padding-left:0;
}

.hide-replies {
    display:none;
}

.expand-reply-icon, .hide-reply-icon {
    margin-left:20px;
    position: relative;
}

.expand-reply-icon:before {
    content: "";
    background: url('../../media/arrow.png') no-repeat;
    background-size:10px;
    height:10px;
    width:10px;
    position: absolute;
    left: -24px;
    top: calc(50% - 5px);
}

.hide-reply-icon:before {
    content: "";
    background: url('../../media/arrow.png') no-repeat;
    background-size:10px;
    height:10px;
    width:10px;
    position: absolute;
    left: -24px;
    top: calc(50% - 5px);
    transform: rotate(180deg);
}

.comment-group li:only-child:before {
    display:none;
}

.reply-posted:hover .reply-time {
    display:none;
}

.reply-posted:hover .full-date {
    display:inline-block;
}

.full-date {
    display:none;
}

.comment-footer .reply-reaction {
    position:relative;
    padding-left:25px;
    line-height:20px;
    font-weight:bold;
}

.comment-footer .down-votes {
    margin-left:15px;
}

.comment-footer .reply-reaction:before {
    content: "";
    background: url('../../media/react.png') no-repeat;
    background-size:20px;
    width:20px;
    height:20px;
    display:inline-block;
    position: absolute;
    left:0;
}

.comment-footer .up-votes:before {
    transform: rotate(180deg);
}