body {
    background:rgb(205, 207, 201);
}

.page {
    max-width:80%;
    margin: 0 auto;
    padding:0 20px;
    overflow:hidden;
}

.float-left {
    float:left;
}

h2{
    font-size:16px;
}

h3 {
    font-size:14px;
}