nav {
    padding: 5px 15px;
    border-bottom: 1px solid #cfcfbb;
    margin-bottom:20px;
    /* background: rgb(13,46,101); */
    /* background: linear-gradient(90deg, rgba(13,46,101,1) 0%, rgba(68,153,198,1) 51%, rgba(13,46,101,1) 100%); */
    background:white;
    /* box-shadow: 0 0 1.3rem #00ffcc; */
    box-shadow: 0 0 9px 1px #807e72;
}

#page-heading {
    text-align:center;
    margin:20px auto;
    color: rgb(114, 114, 114);
}

.heading-border {
    display:inline-block;
    border: 0.2rem solid rgb(183, 183, 183);
    padding:10px 20px;
    border-radius:10px;
    cursor:pointer;
    outline:1px solid rgb(114, 114, 114);
    outline-offset:-2px;
    text-shadow:
        -1px -1px 0 rgb(183, 183, 183),  
        1px -1px 0 rgb(183, 183, 183),
        -1px 1px 0 rgb(183, 183, 183),
        1px 1px 0 rgb(183, 183, 183);
}

.heading-border.title-on {
    color:white;
    border: 0.2rem solid white;
    outline:1px solid rgb(183, 183, 183);
    text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #00ffcc,
        0 0 80px #00ffcc,
        0 0 90px #00ffcc,
        0 0 100px #00ffcc,
        0 0 150px #00ffcc;

    box-shadow: 
        0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #00ffcc,
        0 0 0.8rem #00ffcc,
        0 0 2.8rem #00ffcc,
        inset 0 0 1.3rem #00ffcc;
}

.logo {
    height: 35px;
    width: auto;
}

.search-form {
    width: 30%;
    min-width: 200px;
    position: relative;
    left: -45px;
    float:right;
}

.search {
   width: 100%;
   padding: 5px 5px 5px 40px;
   margin:5px 0;
   border: 1px solid grey;
   border-radius: 20px;
   background: white url('../../media/magnifying-glass.png') no-repeat 10px center;
   background-size:15px;
}