.subreddit-list {
    background:white;
    padding:15px;
    margin:0 auto 20px;
    border-right: 1px solid #8a8a8a;
    border-bottom: 1px solid #8a8a8a;
    border-left: 1px solid #8a8a8a;
    border-radius:0 0 5px 5px;
}

#filter-title {
    background:green;
    border-top: 1px solid #8a8a8a;
    border-right: 1px solid #8a8a8a;
    border-left: 1px solid #8a8a8a;
    color:white;
    max-width:100%;
    line-height:40px;
    margin:0;
    padding:0 10px;
    border-radius: 5px 5px 0 0;
}

ul {
    padding:0;
}

li {
    background:rgb(190, 209, 194);
    color:black;
    text-align:center;
    list-style: none;
    padding:5px 8px;
    margin:5px;
    border:1px solid black;
    border-radius:20px;
    display:inline-block;
    cursor: pointer;
    text-transform: capitalize;
    font-size:15px;
}

li:hover {
    background:rgb(147, 180, 154);
}

.active {
    color:white;
    background: rgb(25, 49, 29);
}

.active:hover {
    background: rgb(34, 93, 83); 
}

.active:after {
    content: "X";
    font-size:6px;
    padding:2px 4px;
    margin-left:4px;
    border:1px solid white;
    border-radius:100%;
    position: relative;
    top:-4px;
}

.inactive {
    display:none;
}

.active.inactive {
    display:block;
}