body {
  margin: 0;
  background: rgb(215 213 205);
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: rgb(43, 43, 43);
}

.page {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;

}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: rgb(43, 43, 43);
}

a:visited {
  color: rgb(43, 43, 43);
}

h1, h2, h3, h4 {
  font-weight: normal;
}

h1, h2 {
  font-size: 40px;
}

h3, h4 {
  font-size: 20px;
}

@media only screen and (min-width: 800px) {
  .page {
    padding: 0 10px;
  }

}
